<div class="setup-wrapper">

<div class="setup-header">

<h1>
⚙ Dynamic Form Setup
</h1>

<p>
Configure your custom form before building fields
</p>

</div>


<div class="setup-card">

<div class="row">

<div class="form-group">

<label>

Form Name

</label>

<input
type="text"
[(ngModel)]="form.formName"
placeholder="Enter form name"
>

</div>


<div class="form-group">

<label>

Category

</label>

<select
[(ngModel)]="form.category"
>

<option value="">
Select category
</option>

<option>
Registration
</option>

<option>
Survey
</option>

<option>
Employee
</option>

<option>
Feedback
</option>

</select>

</div>

</div>



<div class="form-group">

<label>

Description

</label>

<textarea
rows="4"
[(ngModel)]="form.description"
placeholder="Write form description"
>

</textarea>

</div>



<div class="row">

<div class="form-group">

<label>

Start Date

</label>

<input
type="date"
[(ngModel)]="form.startDate"
>

</div>


<div class="form-group">

<label>

End Date

</label>

<input
type="date"
[(ngModel)]="form.endDate"
>

</div>

</div>



<div class="row">

<div class="form-group">

<label>

Theme Color

</label>

<input
type="color"
[(ngModel)]="form.theme"
>

</div>


<div class="form-group">

<label>

Form Status

</label>

<select
[(ngModel)]="form.status"
>

<option [ngValue]="true">

Active

</option>

<option [ngValue]="false">

Inactive

</option>

</select>

</div>

</div>



<div class="toggle-container">

<div class="toggle-box">

<div>

<h4>

Allow Multiple Submit

</h4>

<p>

Users can submit more than once

</p>

</div>

<input
type="checkbox"
[(ngModel)]="form.multipleSubmit"
>

</div>



<div class="toggle-box">

<div>

<h4>

QR Enable

</h4>

<p>

Generate QR code for form

</p>

</div>

<input
type="checkbox"
[(ngModel)]="form.enableQr"
>

</div>

</div>



<div class="button-area">

<button
class="save-btn"
(click)="saveSetup()"
>

Save Setup

</button>

</div>

</div>

</div>