<div
class="form-container"
*ngIf="form"
>

<h1>

{{form.formName}}

</h1>

<p>

{{form.description}}

</p>


<div
class="field"
*ngFor=
"let field of form.fields"
>

<label>

{{field.label}}

<span
*ngIf=
"field.required"
>

*

</span>

</label>



<input

*ngIf="
field.type==='text'
||
field.type==='email'
||
field.type==='number'
"

[type]="field.type"

[placeholder]="field.placeholder"

>



<textarea

*ngIf="
field.type==='textarea'
"

[placeholder]="field.placeholder"

>

</textarea>



<select

*ngIf="
field.type==='dropdown'
"

>

<option

*ngFor=
"let item of getOptions(field)"

>

{{item}}

</option>

</select>



<div

*ngIf="
field.type==='radio'
"

>

<label

*ngFor=
"let item of getOptions(field)"

>

<input
type="radio"
>

{{item}}

</label>

</div>

</div>

</div>