<div class="main-container">

    <div class="tabs">

        <a
        routerLink="/setup"
        routerLinkActive="active-tab"
        >
            Form Setup
        </a>

        <a
        routerLink="/builder"
        routerLinkActive="active-tab"
        >
            Form Builder
        </a>

        <a
        routerLink="/preview"
        routerLinkActive="active-tab"
        >
            Form Create
        </a>

    </div>

    <div class="content">

        <router-outlet>
        </router-outlet>

    </div>

</div>