<div class="builder-container">

<!-- LEFT PANEL -->

<div
class="left-panel"
cdkDropList
#fieldList="cdkDropList"
[cdkDropListData]="availableFields"
[cdkDropListConnectedTo]="[dropArea]"
>

<h2>Available Fields</h2>

<div
class="field-box"
*ngFor="let field of availableFields"
cdkDrag
>

{{field.label}}

</div>

</div>



<!-- RIGHT PANEL -->

<div
class="right-panel"
cdkDropList
#dropArea="cdkDropList"
[cdkDropListData]="selectedFields"
[cdkDropListConnectedTo]="[fieldList]"
(cdkDropListDropped)="drop($event)"
>

<h2>Form Builder Area</h2>

<div
class="field-card"
*ngFor="
let field of selectedFields;
let i=index
"
>

<h3>

Field {{i+1}}

</h3>


<label>

Title

</label>

<input
[(ngModel)]="field.label"
>


<label>

Placeholder

</label>

<input
[(ngModel)]="field.placeholder"
>



<label>

Color

</label>

<input
type="color"
[(ngModel)]="field.color"
>


<label>

Width %

</label>

<input
type="number"
[(ngModel)]="field.width"
>


<div class="required-section">

<label>

Required

</label>

<input
type="checkbox"
[(ngModel)]="field.required"
>

</div>



<!-- Dropdown -->

<div
*ngIf="
field.type=='dropdown'
||
field.type=='radio'
"
>

<label>

Options
(comma separated)

</label>

<input
[(ngModel)]="field.optionText"
placeholder="A,B,C"
>

</div>


<button
class="delete-btn"
(click)="removeField(i)"
>

Delete

</button>

</div>

</div>

</div>


<div class="button-section">

<button
class="preview-btn"
(click)="preview()"
>

Preview

</button>


<button
class="save-btn"
(click)="saveForm()"
>

Save Form

</button>

</div>




<!-- PREVIEW MODAL -->

<div
class="preview-modal"
*ngIf="showPreview"
>

<div class="preview-content">

<h2>

Form Preview

</h2>


<div
class="preview-field"
*ngFor="let field of selectedFields"
>

<label
[style.color]="field.color"
>

{{field.label}}

<span *ngIf="field.required">

*

</span>

</label>



<input

*ngIf="
field.type=='text'
||
field.type=='email'
||
field.type=='number'
"

[type]="field.type"

[placeholder]="field.placeholder"

[style.width.%]="field.width"

>


<textarea

*ngIf="
field.type=='textarea'
"

[placeholder]="field.placeholder"

[style.width.%]="field.width"

>

</textarea>



<select

*ngIf="
field.type=='dropdown'
"

[style.width.%]="field.width"

>

<option
*ngFor=
"let item of getOptions(field)"
>

{{item}}

</option>

</select>



<div
*ngIf="
field.type=='radio'
"
>

<label
*ngFor=
"let item of getOptions(field)"
>

<input
type="radio"
>

{{item}}

</label>

</div>

</div>



<button
(click)="closePreview()"
>

Close

</button>

</div>

</div>